<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>


<div class="main-panel">
    <button class="btn" id="boton-sidebar_left" style="float: right; margin-right: 1em;"><i class="fas fa-angle-double-left" ></i></button>
    <div class="content" id="main">


        <p class="p1">Administración Prioridades</p>

        <!-- <div class="subcabecera "> -->

        <button type="button" class="btn ml-4 mb-3 db botonCrear" data-toggle="modal" data-target="#modalCrear"><i class="fas fa-plus"></i>
                    Crear Prioridad
        </button>

        <div class="divSelect mb-3" id="buscar">
            <fieldset><input type="search" id="btnSearch" [(ngModel)]="searchText" /><button id="bSearch" type="submit"><i class="fa fa-search" id="idSearch"></i></button></fieldset>
        </div>

        <div class="table-responsive">

            <table mdbTable #tableEl="mdbTable" class="tt table">
                <thead class="thead">
                    <tr>
                        <th scope="col"><i class="fas fa-signature"></i> Nombre</th>
                        <th scope="col"><i class="fas fa-book-open"></i> De </th>
                        <!-- <th scope="col"><i class="fas fa-hashtag"></i> Orden</th> -->
                        <th scope="col"><i class="fas fa-columns"></i> Tipo</th>
                        <th scope="col"><i class="fas fa-tools"></i> Acciones</th>

                    </tr>
                </thead>
                <tbody class="tbody">

                    <tr mdbTableCol *ngFor="let el of elements; let i =index">
                        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.nombre | titlecase}}</th>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.descripcion}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && el.tipo ==1"> De entrada
                        </td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && el.tipo ==2"> De mantenimiento
                        </td>

                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                            <div class="button-group">

                                <button *ngIf="el.deleted == '1'" hidden type="button" class="btn  btn-sm bEditar" data-toggle="modal" data-target="#modalEditar" (click)="obtenerPorID(el.pri_id)"><i class="fas fa-pencil-alt"></i> Editar</button>
                                <button *ngIf="el.deleted== '0'" type="button" class="btn  btn-sm bEditar" data-toggle="modal" data-target="#modalEditar" (click)="obtenerPorID(el.pri_id)"><i class="fas fa-pencil-alt"></i> Editar</button>
                                <button *ngIf="el.deleted == '1'" style="width: 12.5em;" type="button" class="btn  btn-sm bEliminar" data-toggle="modal" data-target="#modalHabilitar" (click)="enviar(el)"><i class="fas fa-check"></i> Habilitar</button>
                                <button *ngIf="el.deleted == '0'" type="button" class="btn  btn-sm bEliminar" data-toggle="modal" data-target="#modalDeshabilitar" (click)="enviar(el)"><i class="fas fa-ban "></i> Deshabilitar</button>


                            </div>



                        </td>
                    </tr>
                </tbody>
                <td class="" colspan="11">
                    <mdb-table-pagination class="" [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
            </table>
        </div>
    </div>

</div>

<!-- MODAL CREAR -->


<div class="modal fade" id="modalCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">

            </div>
            <div class="modal-body">
                <div class="form-header">
                    <h1 class="" id="tituloForm">Crear Prioridad</h1>
                </div>

                <form class="login100-form validate-form flex-sb flex-w animated" style="color: #757575;" [formGroup]="formCrear" (ngSubmit)="crear(formCrear.value)">
                    <div class="m-4">

                        <!-- INGRESAR NOMBRE DE USUARIO -->

                        <div class="form-group">
                            <label for="username" id="tituloF">Nombre <i class="fas fa-signature"></i></label>
                            <input [class.is-invalid]="formCrear.get('nombre')?.touched && formCrear.get('nombre')?.invalid" formControlName="nombre" id="username" type="text" name="username" class="form-control form-icon-trailing entrada1" id="floatingInputNombre" required="required"
                            />
                            <span *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched)" class="text-danger animated fadeIn" style="text-align: center;"> Debe ingresar un nombre</span>

                        </div>

                        <!-- INGRESAR DETALLE -->
                        <div class="form-group">
                            <label for="password" id="tituloF">Detalle <i class="fas fa-book-open"></i></label>
                            <textarea [class.is-invalid]="formCrear.get('descripcion')?.touched && formCrear.get('descripcion')?.invalid" formControlName="descripcion" type="text" name='descripcion' class="form-control form-icon-trailing" id="tA"></textarea>
                            <span *ngIf="f.descripcion.invalid && (f.descripcion.dirty || f.descripcion.touched)" class="text-danger animated fadeIn"> Debe ingresar el detalle</span>
                        </div>

                        <!-- INGRESE TIPO -->
                        <div class="mb-2">

                            <select class="form-control" formControlName="tipo" id="selectModal">
                            <option value="">Elegir tipo...</option>
                            <option value=1>De entrada</option>
                            <option value=2>De mantenimiento</option>
                        </select>

                        </div>


                    </div>



                    <hr>

                    <div class=" button group row m-3 ">

                        <button type="button" class="btn col btn-md btnModal " aria-label="Close" data-dismiss="modal" (click)="resetear()"><i class="fas fa-window-close"></i> Cancelar</button>
                        <button type="submit" class="btn col btn-md btnGuardar " [disabled]="formCrear.invalid"><i class="fas fa-save"></i> crear prioridad</button>

                    </div>
                </form>


                <!-- Form -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->


<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">

            </div>
            <div class="modal-body">

                <form class="login100-form validate-form flex-sb flex-w animated text-center" style="color: #757575;" [formGroup]="formEditar" (ngSubmit)="editar(formEditar.value, elements1.pri_id)">


                    <div class="m-4">
                        <div class="form-header">
                            <h1 class="" id="tituloForm">Editar Prioridad</h1>
                        </div>

                        <!-- INGRESAR NOMBRE DE USUARIO -->

                        <div class="form-group">
                            <label for="username" id="tituloF">Nombre <i class="fas fa-signature"></i></label>
                            <input [class.is-invalid]="formCrear.get('nombre')?.touched && formCrear.get('nombre')?.invalid" formControlName="nombre" id="username" type="text" name="username" class="form-control form-icon-trailing entrada1" id="floatingInputNombre" required="required"
                            />
                            <span *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched)" class="text-danger animated fadeIn" style="text-align: center;"> Debe ingresar un nombre</span>

                        </div>

                        <!-- INGRESAR DETALLE -->
                        <div class="form-group">
                            <label for="password" id="tituloF">Detalle <i class="fas fa-book-open"></i></label>
                            <textarea [class.is-invalid]="formCrear.get('descripcion')?.touched && formCrear.get('descripcion')?.invalid" formControlName="descripcion" type="text" name='descripcion' class="form-control form-icon-trailing" id="tA"></textarea>
                            <span *ngIf="f.descripcion.invalid && (f.descripcion.dirty || f.descripcion.touched)" class="text-danger animated fadeIn"> Debe ingresar el detalle</span>
                        </div>

                        <!-- INGRESE TIPO -->
                        <div class="mb-2">
                            <label for="password" id="tituloF">Tipo <i class="fas fa-columns" ></i></label>

                            <select class="form-control" formControlName="tipo" id="selectModal">
                                        <!-- <option value="">Elegir tipo...</option> -->
                                        <option value=1>De entrada</option>
                                        <option value=2>De mantenimiento</option>
                            </select>

                        </div>


                    </div>
                    <hr>
                    <div class=" button group row m-3 ">

                        <button type="button" class="btn col btn-md btnModal " aria-label="Close" data-dismiss="modal" (click)="resetear()"><i class="fas fa-window-close"></i> Cancelar</button>
                        <button type="submit" class="btn col btn-md btnGuardar " [disabled]="formEditar.invalid"><i class="fas fa-save "></i>  Guardar cambios</button>

                    </div>

                </form>
                <!-- Form -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL INHABILITAR -->

<div class="modal fade" id="modalDeshabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">

            </div>
            <div class="modal-body  mr-3 ml-3">

                <div class="form-header">
                    <h1 class="" id="tituloForm">Deshabilitar Prioridad</h1>
                </div>

                <p class="titulo-eliminar"> ¿Está seguro de deshabilitar el prioridad: {{elements1.nombre | uppercase}} ?</p>
            </div>

            <div class=" button group row m-4 ">

                <button type="button" class="btn col btn-md btnModal " aria-label="Close" data-dismiss="modal"><i class="fas fa-window-close"></i> Cancelar</button>
                <button type="button" class="btn col btn-md btnGuardar " aria-label="Close" data-dismiss="modal" (click)="deshabilitar(elements1.pri_id)"><i class="fas fa-ban"></i> Sí, deshabilitar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL HABILITAR  -->

<div class="modal fade" id="modalHabilitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">

            </div>
            <div class="modal-body  mr-3 ml-3">

                <div class="form-header">
                    <h1 class="" id="tituloForm">Habilitar Prioridad</h1>
                </div>

                <p class="titulo-eliminar"> ¿Está seguro de habilitar el prioridad: {{elements1.nombre | uppercase}} ?</p>
            </div>

            <div class=" button group row m-4 ">

                <button type="button" class="btn col btn-md btnModal " aria-label="Close" data-dismiss="modal"><i class="fas fa-window-close"></i> Cancelar</button>
                <button type="button" class="btn col btn-md btnGuardar" aria-label="Close" data-dismiss="modal" (click)="habilitar(elements1.pri_id)"><i class="fas fa-check"></i> Sí, habilitar</button>
            </div>
        </div>
    </div>
</div>