<html lang="en" id="html">
<div class="sidebar" id="sidebar">



    <!--Contenedor de nuestro sidebar-->
    <div class="sidebar-wrapper">
        <!-- <div class="logo-rc">
            <img src="assets/img/talleres.png" type="button" style="width: 30px; height: 30px;" />
            <span>Talleres</span>
        </div> -->

        <div class="logo-rc">


            <div class="navbar-bar" id="content-buttons">

                <!--El boton por defecto de nuestro header-->
                <button id="boton-sidebar"><img src="assets/img/talleres.png" type="button" style="width: 30px; height: 30px;" /></button>
                <span>Talleres</span>
                <!--El boton que aparecera desde el modo tablet-->
                <!-- <button id="boton-sidebar_left"><img src="assets/img/talleres.png" type="button" style="width: 30px; height: 30px;" /></button> -->
                <!--El boton que aparecera si es que nuestro dashboard hace scroll-->
                <div class="navbar-bar_fixed" id="content-button_fixed">
                    <button id="boton-sidebar_fixed"><img src="assets/img/talleres.png" type="button" style="width: 30px; height: 30px;" /></button>
                </div>

            </div>
        </div>
        <div class="nav">
            <ul>

                <li>
                    <a [routerLink]="[ '/talleres/ver_atributos' ]" routerLinkActive="active">

                        <i class="fas fa-stream"></i>
                        <span> atributos</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/talleres/ver_servicios' ]" routerLinkActive="active">

                        <i class="fas fa-tools"></i>

                        <span> Servicios</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/talleres/ver_estados' ]" routerLinkActive="active">
                        <i class="fas fa-flag"></i>
                        <span> Estados</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="[ '/talleres/ver_politicas' ]" routerLinkActive="active">
                        <!-- <i class="fas fa-user-tie"></i> -->
                        <i class="fab fa-readme"></i>
                        <span> Politicas</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="[ '/talleres/ver_prioridad' ]" routerLinkActive="active">
                        <!-- <i class="fas fa-hourglass-half"></i> -->
                        <i class="fas fa-clock"></i>
                        <span> Prioridadades</span>
                    </a>
                </li>
                <!-- <li>
                    <a [routerLink]="['/talleres/ver_prioridad_mantenimiento']" routerLinkActive="router-link-active">
                   
                        <i class="fas fa-calendar-alt"></i>
                        <span> Prioridad Mantenimiento</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/talleres/ver_vehiculo']" routerLinkActive="router-link-active">
                
                        <i class="fas fa-car"></i>
                        <span> Vehículo</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>





</html>