// // @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
// $cp: #393D40;
// // $cs: #FFCE2B;
// $cs: #828282;
// // $cs: #ffd670;
// $ct:#f0f0f0;
// .container {
//     margin-top: 10em;
//     margin-bottom: 12.2em;
//     // background-color: black;
//     // max-height: 100vh;
// }
// .login-block {
//     background: linear-gradient(to bottom, rgb(165, 158, 158), black);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     // float: left;
//     width: 100%;
//     // max-height: 100vh;
//     padding: 50px 0;
// }
// .banner-sec {
//     background: url(https://images.pexels.com/photos/474/black-and-white-car-vehicle-vintage.jpg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat left bottom;
//     background-size: cover;
//     min-height: 500px;
//     border-radius: 0 10px 10px 0;
//     padding: 0;
// }
// .container {
//     // background: #fff;
//     background: white;
//     border-radius: 10px;
//     box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
// }
// .carousel-inner {
//     border-radius: 0 10px 10px 0;
// }
// .carousel-caption {
//     text-align: left;
//     left: 5%;
// }
// .login-sec {
//     padding: 50px 30px;
//     position: relative;
// }
// .login-sec .copy-text {
//     position: absolute;
//     width: 80%;
//     bottom: 20px;
//     font-size: 13px;
//     text-align: center;
// }
// .login-sec .copy-text i {
//     color: #FEB58A;
// }
// .login-sec .copy-text a {
//     color: #E36262;
// }
// .login-sec h2 {
//     margin-bottom: 30px;
//     font-weight: 800;
//     font-size: 30px;
//     // color: #DE6262;
//     color: $cp;
// }
// .login-sec h2:after {
//     content: " ";
//     width: 100px;
//     height: 5px;
//     // background: #FEB58A;
//     background: $cs;
//     ;
//     display: block;
//     margin-top: 20px;
//     border-radius: 3px;
//     margin-left: auto;
//     margin-right: auto
// }
// .btn-login {
//     // background: #DE6262;
//     background: $cp;
//     color: #fff;
//     font-weight: 600;
// }
// .banner-text {
//     width: 70%;
//     position: absolute;
//     bottom: 40px;
//     padding-left: 20px;
// }
// .banner-text h2 {
//     color: #fff;
//     font-weight: 600;
// }
// .banner-text h2:after {
//     content: " ";
//     width: 100px;
//     height: 5px;
//     background: #FFF;
//     display: block;
//     margin-top: 20px;
//     border-radius: 3px;
// }
// .banner-text p {
//     color: #fff;
// }
#formAccesoTalleres {
    // padding: 15px;
    // border: 1px solid #666;
    background: #fff;
    display: none;
}

#btnEmpresa {
    display: block;
    margin-right: auto;
    margin-left: auto;
}